!!! 5
%html
	%head
		%title Formulário
		%meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
	
	%body
		%form
		%h4 Descrição
		%input{:name => "Primeiro Nome", :type => "text", :value => ""}/
		